.parent
{
	display: inline-grid;
	grid-column: 2;
	grid-row: 3;
	background-color: orange;
	width: 30%;
	height: 120px;
}
.child
{
	background-color: darkred;
	width: 80%;
	height: 80px;
	position: relative;
	top: 60px;
	bottom: 30px;
}
.box
{
	background-color: green;
	width: 50%;
	height: 50px;
	position: relative;
	left: 130px;
	top: 130px;
}
@media (max-width: 1020px)
{
	.box{
		font-size: 32px;
		background-color: red;
	}
}