<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details</title>
</head>
<body>
 
    customer details : <br> 
    
<ol>
    {%for i in customer%}
    <li>
        <ul>
            <li>
                Rental date :{{rental.rental_date}}
            </li>
            <li>
                Return date :{{rental.return_date}}
            </li>
            <li>
                Customer:{{i.first_name}} {{ i.last_name}}
            </li>
        </ul>
    </li>
    {%endfor%}
</ol>

</body>
</html>